<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>My Bank - Avail Deposit</title>
</head>

<header th:replace="nav::navbar"></header>
<body>
<script >
    $(document).ready(() => {
        let today = new Date();
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        let yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        $("#date").val(today);


        $("#reset").click((event) => {
            event.preventDefault();
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            let yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;

            $("#Duration").val("");
            $("#Amount").val("");
            $("#date").val(today);
        });

        $("#submit").click((event) => {
            event.preventDefault();
            if(validation()) {
                const depositId = [[${depositId}]];
                const depositAmount = $("#Amount").val();
                const depositDuration = $("#Duration").val();
                const depositMaturity = $("#date").val();

                const request = {
                    "depositId": depositId,
                    "depositAmount": depositAmount,
                    "depositDuration": depositDuration,
                    "depositMaturity": depositMaturity
                };

                console.log(request);
                $.ajax({
                    url: "http://localhost:8082/mybank/deposits/avail",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(request),
                    success: function(response) {
                        if (response[0] === "Success") {
                            var dateString = response[1].depositMaturity;
                            var date = new Date(dateString);
                            var formattedDate = date.toLocaleDateString("en-US", { year: "numeric", month: "2-digit", day: "2-digit" }).replace(/\//g, "-");
                            const deposit = `<h4>Deposit Amount:<span>${response[1].depositAmount}</span></h4><h4>Deposit Duration:<span>${response[1].depositDuration}</span></h4><h4>Deposit Maturity Date: <span>${formattedDate}</span></h4><h4>Deposit Maturity Amount: <span>${response[1].depositMaturityAmt}</span></h4>`;
                            $("#depositDetails").html(deposit);
                            $("#ackModal").show();
                        } else {
                            const deposit = `<h4>Error:<span>${response[1]}</span></h4>`;
                            $("#depositDetails").html(deposit);
                            $("#ackModal").show();
                            // alert("Error: " + response[1]); // Display error message
                        }
                    },
                    error: function(err) {
                        console.log(err);
                        alert("Error: " + err.status);
                    }
                });
            }
        });
    });

    function validation(){
        const amountInput = $("#Amount").val();
        const durationInput = $("#Duration").val();
        let isValid = true;

        // Amount validation
        if (amountInput.trim() === '') {
            $("#amountError").text("Amount Cannot be Empty")
            isValid = false;
        }
        else if(amountInput<100 ){
            $("#amountError").text('Amount cannot be less than 100');
            isValid = false;
        }
        else if(amountInput>999999999 ){
            $("#amountError").text('Amount cannot be more than 999999999');
            isValid = false;
        }
        else {
            $("#amountError").text('');
        }

        // Duration validation
        if (durationInput.trim() === '') {
            $("#durationError").text('Duration is required');
            isValid = false;
        }
        else if (!Number.isInteger(Number(durationInput))) {
            $("#durationError").text('Duration must be a whole number');
            isValid = false;
        }
        else if(durationInput<1){
            $("#durationError").text('Duration Cannot Be less than 1 Year');
            isValid = false;
        }
        else if(durationInput>25){
            $("#durationError").text('Duration Cannot Be More than 25 Years');
            isValid = false;
        }
        else {
            $("#durationError").text('');
        }

        // Terms and Conditions validation
        if (!$("#tAndC").is(':checked')) {
            $("#tAndCError").text('You must accept the terms and conditions');
            isValid = false;
        } else {
            $("#tAndCError").text('');
        }
        return isValid
    }
</script>
<div class="container mt-3">
    <div class="row">
        <div class="col text-left">
            <i class="bi bi-arrow-left-circle-fill ml-1 " style="color: #182052; font-size: 2rem;" onclick="window.history.back()"></i>
        </div>
    </div>
</div>
<div class="container mt-4 ">
    <div class="card p-4 col-lg-6 mx-auto my-4">
        <form id="depositForm">
            <h2>Deposits Avail Form</h2>
            <div class="form-group my-2">
                <label>Deposit Name</label>
                <input class="form-control" type="text" id="depositName" name="depositName" th:value="${param.depositName}" style="background-color: gray" readonly required>
            </div>
            <div class="form-group my-2">
                <label for="date">Deposit Date</label>
                <input style="background-color: gray" class="form-control" type="date" id="date" name="date" readonly>
            </div>
            <div class="form-group my-2">
                <label for="Amount">Amount</label>
                <input class="form-control" type="number" id="Amount" name="Amount" placeholder="Enter Amount Minimum 100" required>
                <span id="amountError" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label for="Duration">Duration</label>
                <input class="form-control" type="number" id="Duration" name="Duration" placeholder="Enter Duration in Years" required>
                <span id="durationError" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-check-label">
                    <input class="form-check-inline" type="checkbox" id="tAndC" name="t&c" placeholder="Need To Abide All Terms And Conditions" required>
                    Accept terms and Conditions
                </label>
                <span id="tAndCError" class="text-danger"></span>
            </div>
            <button class="btn btn-m" type="button" id="submit" style="background-color: #182052; color: white;" value="Apply">Submit</button>
            <button class="btn btn-m" type="button" id="reset" value="Cancel" style="background-color: #F25C19; color: white;">Reset</button>
        </form>
    </div>
</div>
<div class="modal" id="ackModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Deposit Confirmation</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <h3 id="modalMessage">Your Deposit Details</h3>
                <div id="depositDetails"></div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <a th:href="@{'/dashboard'}"> <button type="button" class="btn btn-primary" id="okButton" data-bs-dismiss="modal">OK</button></a>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="footer::footer"></footer>

</html>