<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Exception Handling</title>
    <link rel="stylesheet"  type="text/css" th:href="@{'/css/error.css'}">

</head>
<body>
<div class="container">
    <h1 th:if="${param.code}" th:text="${param.code}"></h1>
    <p th:if="${param.code}" th:text="${param.msg}">&lt;&lt;  &gt;&gt;</p>
    <h2 th:unless="${param.code}">404 - Page not found</h2>
    <a th:href="@{'/dashboard'}"><button >BACK TO HOME<i class="bi bi-arrow-right-circle-fill"></i></button></a>
</div>
</body>
</html>