<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Avail Deposit Form</title>
</head>

<body>
<!--    <script>-->
<!--        $(document).ready(() => {-->
<!--            if (!sessionStorage.getItem("logged")) {-->
<!--                 alert("User Is Not Logged In")-->
<!--                 location.assign("./login.html")-->
<!--            }-->
<!--            else{-->

<!--            $("#reset").click((event) => {-->
<!--                event.preventDefault();-->
<!--                $("#customerId").val("");-->
<!--                $("#deposit").val("");-->
<!--                $("#Duration").val("");-->
<!--                $("#date").val("");-->
<!--                $("#Amount").val("");-->
<!--            });-->

<!--            $("#submit").click((event) => {-->
<!--                event.preventDefault();-->
<!--                const id = $("#customerId").val();-->
<!--                const depositType = $("#depositType").val();-->
<!--                const depositAmount = $("#Amount").val();-->
<!--                const depositDuration = $("#Duration").val();-->
<!--                const depositMaturity = $("#date").val();-->

<!--                const request = {-->
<!--                    "customerId": id,-->
<!--                    "depositAvailId": 1001,-->
<!--                    "depositId": depositType,-->
<!--                    "depositAmount": depositAmount,-->
<!--                    "depositDuration": depositDuration,-->
<!--                    "depositMaturity": depositMaturity-->
<!--                };-->

<!--                $.ajax({-->
<!--                    url: "http://localhost:8082/mybank/deposits/avail",-->
<!--                    type: "POST",-->
<!--                    dataType: "json",-->
<!--                    beforeSend: function (xhr) {-->
<!--                        xhr.setRequestHeader("Authorization", "Basic " + btoa("shreyas12:shreyas123"));-->
<!--                    },-->
<!--                    contentType: "application/json;charset=utf-8",-->
<!--                    data: JSON.stringify(request),-->
<!--                    success: function (response) {-->
<!--                        alert(JSON.stringify(response));-->
<!--                    },-->
<!--                    error: function (err) {-->
<!--                        console.log(request)-->
<!--                        alert("Error: " + err.status);-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        }});-->
<!--    </script>-->
    <div class="container mt-2 ">
        <div class="card p-4 ">
            <form id="depositForm">
                <h2>Deposits Avail Form</h2>
                <div class="form-group">
                    <label> Customer Id :</label>
                    <input class="form-control" type="number" id="customerId" name="customerId">
                </div>
                <div class="form-group">
                    <label>Deposit Type</label>
                    <select class="form-control">
                        <option id="depositType" value="1000001">FD</option>
                        <option id="depositType" value="1000002">RD</option>
                        <option id="depositType" value="1000003">Senior Citizen FD</option>
                        <option id="depositType" value="1000004">Employee FD</option>
                        <option id="depositType" value="1000005">Women Empowerment RD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input class="form-control" type="number" id="Amount" name="Amount">
                </div>
                <div class="form-group">
                    <label>Duration</label>
                    <input class="form-control" type="number" id="Duration" name="Duration">
                </div>
                <div class="form-group">
                    <label>Maturity</label>
                    <input class="form-control" type="date" id="date" name="date">
                </div>
                <div class="form-group">
                    <label class="form-check-label">Accept terms and Conditions</label>
                    <input class="form-check-inline" type="checkbox" name="t&c">
                </div>
                <button class="btn btn-primary btn-m" type="button" id="submit" value="Apply">Submit</button>
                <button class="btn btn-info btn-m" type="button" id="reset" value="Cancel">Reset</button>
            </form>
        </div>
    </div>
</body>

</html>