body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1,h2 {
    color: #003870;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color:#003870;
    font-size: 16px;
    margin-bottom: 30px;
}


button {
    background-color: powderblue;
    color: #003870;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    border-color:#003870;

}

button:hover {
    background-color: lightblue;
}

button i {
    margin-left: 7px;
    font-size: 20px;
}