<configuration>


    <appender name="myLogs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\log.log</file> <!-- Define log file name and path -->

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\archive\log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5KB</maxFileSize> <!-- Define the maximum file size(once the log file reaches 5 kilobytes in size, it will be rolled over to a new file.) -->
            <totalSizeCap>6KB</totalSizeCap> <!-- Total size cap for all log files( once the total size of all log files exceeds 6KB, the oldest log files will be deleted to make room for new ones.) -->
            <maxHistory>1</maxHistory> <!-- Keep up to 30 days of logs(up to 1 historical log files will be retained. Older log files beyond this limit will be deleted.) -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %-5level %logger{36} - %highlight(%msg)  %n</pattern>
        </encoder>
    </appender>

    <appender name="myLogsArchive" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\archive\log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\log_archive\log-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>5KB</maxFileSize>
            <totalSizeCap>6KB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %-5level %logger{36} - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <!-- Define file appender -->
    <!--    <appender name="myLogs" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\log.log</file> &lt;!&ndash; Define log file name and path &ndash;&gt;-->
    <!--        <encoder>-->
    <!--            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %-5level %logger{36} - %highlight(%msg) %n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- Root logger settings -->
    <root level="INFO">
        <!--        <appender-ref ref="myConsole" />-->
<!--        <appender-ref ref="ROLLING"/>-->
        <appender-ref ref="myLogs"/> <!-- Attach file appender -->
        <appender-ref ref="myLogsArchive"/>
    </root>

</configuration>