<configuration>

    <!--    &lt;!&ndash; Define appenders &ndash;&gt;-->
    <!--    <appender name="myConsole" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--        <encoder>-->
    <!--            <pattern>%highlight([%thread]) %highlight(%-5level) %logger{36} - %highlight(%msg) %d{dd/MM/YYYY HH:mm:ss} %n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover with compression -->
            <fileNamePattern>log_archive/log-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- rollover when log file is larger than 100MB -->
            <maxFileSize>10KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %-5level %logger{36} - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <!-- Define file appender -->
    <!--    <appender name="myLogs" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>C:\Users\xxshetts\OneDrive - Tietoevry\Desktop\DLTE-JavaFullStack-ShreyasShettyB2024\Technical Review\Techinical_Review_Console\log.log</file> &lt;!&ndash; Define log file name and path &ndash;&gt;-->
    <!--        <encoder>-->
    <!--            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %-5level %logger{36} - %highlight(%msg) %n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- Root logger settings -->
    <root level="INFO">
        <!--        <appender-ref ref="myConsole" />-->
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="myLogs"/> <!-- Attach file appender -->
    </root>

</configuration>